* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #164467;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 5%;
}