/* Variables for colours, fonts etc. */

:root {
    --dark-blue: #164467;
    --mid-blue: #4573A4;
    --light-blue: #89A3BE;
    --dark-red: #611B1B;
    --mid-red: #913B3B; 
    --light-red: #D96666;
    --paper: #FFFBF4;
    --charcoal: #2F2F2F;
    --font-heading: "Holtwood One SC", serif, "Rockwell";
    --font-body: "Afacad", sans-serif;
}
/* Global formatting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Fonts and styles */

a {
    text-decoration: none;
}

h1 { 
    color: var(--mid-red);
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 24pt;
    font-weight: 600;
}

#prod-name {
    font-weight: 100;
}

p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 1.5em;
}

/* Header + nav */

header {
    background-color: var(--dark-blue);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#nav-left {
    display: flex;
    justify-content: space-between;
}

#nav-right {
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Man + sections */

main {
    background-color: var(--paper);
}

.container {
    margin: 20px;
}

/* Homepage cards: one large "hero" and smaller "sub-cards"  */

#hero {
    margin:0;
}

#sub-cards {
    margin: 0;
}

.hero-card {
    display: block;
    background-color: var(--dark-blue);
    height: 30vh;
    background-image: url('images/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.sub-card {
    margin: 0;
    display: block;
    background-color: var(--dark-blue);
    height: 30vh;
    background-size: min(50%, 250px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px
}

.index-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 20px;
}

#tees-card {
    background-image: url(images/tee.png);
}

#denim-jackets-card {
    background-image: url(images/product3.png);
    background-color: var(--mid-red);
}

/* Footer */

#footer-content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1em;
}


/* Product list + product cards  */

#product-list { 
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.product-card {
    display: block;
    color: var(--charcoal)
}

.product-details {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

.product {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-content img {
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-content p{
    font-size: 1em;
}

/* Breadcrumb secondary nav styles */

#breadcrumb {
    margin-top: 20px;
}

#breadcrumb a {
    font-style: italic;
    font-size: 1em;
}

#breadcrumb p{ 
    font-size: 1em;
}

/* Button and pseduo-button styles */

.card-btn {
    background-color: var(--mid-red);
    font-family: var(--font-heading);
    color: var(--paper);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px var(--dark-red);
}

.bag-btn {
    display: flex;
    justify-content: space-between;
    background-color: var(--mid-red);
    box-shadow: 0 10px var(--dark-red);
    width: 100%;
    border: none;
    color: var(--paper);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.bag-btn: { 

}

.btn-price {
   font-weight: 100;
}

.btn-text{
    font-weight: 600;
}

/* Graphic elements */

#map {
    background-color: var(--light-blue);
    padding: 20px;
}

#map a{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url('images/map.svg');
    background-color: var(--light-blue);
    background-size: cover;
}

.checkerboard {
    height: 60px;
    background-image: url('images/check.svg');
    background-repeat: repeat-x;
}

/* Desktop-only sections */

#desktop-new-in {
    display: none;
}

#desktop-shop {
    display: none;
    background-color: var(--light-blue);
}

#desktop-shop h1{
    color: var(--paper);
}

#desktop-divider {
    display: none;
}

@media (min-width: 1024px) {

.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
    gap: 20px;
    height: 400px;
}

.desktop-card {
    border-radius: 10px;
    display: flex; 
    text-decoration: none;
}

.large-card {
    grid-row: span 2; 
    background-image: url('images/hero-desktop.jpg'); 
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: center; 
    padding-bottom: 40px;
}

.small-card {
    align-items: center; 
    justify-content: space-around; 
    padding: 20px;
}

.small-card.denim { background-color: var(--dark-blue); }
.small-card.tees { background-color: var(--dark-blue); }

.small-card img {
    height: 80%; 
    width: auto;
}

 #product-list { 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#desktop-new-in {
    display: block;
}

#desktop-shop {
    display: block;
    padding: 20px; 
    min-height: 800px;
    overflow: hidden;
}

#desktop-divider {
    display: block;
}

#hero {
    display: none;
}

#sub-cards {
    display: none;
}
}