:root {
    --navy: #164467;
    --maroon: #913B3B; 
    --font-heading: "Holtwood One SC", serif, "Rockwell";
    --font-body: "Afacad", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--navy);
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#nav-left {
    display: flex;
    justify-content: space-between;
}

#nav-right {
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

main { 
    margin-top: 125px;
    font-family: sans-serif;
}

.hero-card {
    display: block;
    background-color: red;
    height: 40vh;
}

.sub-card {
    display: block;
    background-color: yellow;
    height: 20vh;
}

h1 { 
    color: var(--maroon);
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 1em;
}

section {
    margin: 20px;
}

#hero {
    margin:0;
}

#products {
    margin:0;
}

.product-card {
    display: block;
    width: 40vw;
    height: 20vh;
    background-color: blue;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#breadcrumb {
    margin-top: 40px;
}